<script setup lang="ts">
import { ref } from 'vue'
import { IPhotos, ICostGroupArray, ICostGroup, IPhoto } from '@/types/airtable'
import { useAirtableData } from '@/composables/useAirtableData'

import { definePageMeta } from '~~/.nuxt/imports'
definePageMeta({
  layout: false
})
const { params } = useRoute()

const pending = ref(true)

const airtable = await useAirtableData()
const groupsWithPhotos = airtable.getPhotos as ICostGroupArray

const group: ICostGroup = groupsWithPhotos.find(
  (group: ICostGroup) => group.id === params.gid
)

if (!group) {
  throw createError({ statusCode: 404, statusMessage: 'Page Not Found' })
}

setTimeout(() => {
  pending.value = false
}, 100)

const showVideoModal = ref<boolean>(false)
const targetVideo = ref<IPhoto>(null)
function handleVideoClick(video: IPhoto): void {
  targetVideo.value = video
  showVideoModal.value = true
}

const defaultBackLink = computed(
  () => `/projects/${params.model as string}/${params.id}/photos`
)
</script>

<template>
  <NuxtLayout name="airtable">
    <template #header>
      <ABreadcrumb>
        <ABreadcrumbItem>
          <Back :default-url="defaultBackLink" />
          <Anchor :to="defaultBackLink">Photos</Anchor>
        </ABreadcrumbItem>
        <ABreadcrumbItem>{{ group.Name }}</ABreadcrumbItem>
      </ABreadcrumb>
    </template>
    <div class="relative my-2">
      <ASkeleton v-if="pending" active />
      <ASpace v-else direction="vertical" size="large">
        <MasonryWall
          :items="group.Photos as IPhotos"
          :ssr-columns="1"
          :column-width="400"
          :gap="16"
        >
          <template #default="{ item: photo }">
            <figure class="inline-block align-middle relative">
              <div
                v-if="photo.type === 'video/mp4'"
                :ref="photo.id"
                class="relative"
                @click="handleVideoClick(photo)"
              >
                <video
                  :src="photo.url"
                  loop
                  muted
                  class="border border-gray-300 rounded-sm hover:cursor-pointer"
                />
                <!-- position left top -->
                <div class="absolute top-0 right-0 play-icon">
                  <IconMaterialSymbols:video-camera-back-sharp
                    class="text-3xl"
                  />
                </div>
              </div>
              <AImage
                v-else
                :ref="photo.id"
                :src="photo.url"
                :alt="group.Name"
                class="relative border border-gray-300 rounded-sm"
              >
              </AImage>
            </figure>
          </template>
        </MasonryWall>
        <AModal
          v-model:visible="showVideoModal"
          width="90vw"
          :footer="null"
          class="openhouse"
        >
          <video
            :src="targetVideo.url"
            controls
            autoplay
            class="w-full h-full max-h-[80vh]"
          />
        </AModal>
        <BackUp />
      </ASpace>
    </div>
  </NuxtLayout>
</template>

<style lang="stylus" scoped>
figure {
  margin: 0
}

.item {
  background-color: var(--base-text-color);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ant-select {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

:deep(.play-icon) svg path {
  color: white;
}
</style>
