<script lang="ts" setup>
import { computed } from 'vue'

type SizeTypes = 'sm' | 'md' | 'lg'
interface SubtitleProps {
  colorClass?: string
  size?: SizeTypes
}

const props = withDefaults(defineProps<SubtitleProps>(), {
  colorClass: 'text-slate-300',
  size: 'lg'
})

const sizeClass = computed(() => {
  return {
    'text-sm': props.size === 'sm',
    'text-base': props.size === 'md',
    'text-xl': props.size === 'lg'
  }
})
</script>

<template>
  <div :class="[colorClass, sizeClass]">
    <slot></slot>
  </div>
</template>
