<script lang="ts" setup>
import { computed } from 'vue'

type SizeTypes = 'sm' | 'md' | 'lg'
interface SubtitleProps {
  bold?: boolean
  inline?: boolean
  size?: SizeTypes
}

const props = withDefaults(defineProps<SubtitleProps>(), {
  bold: true,
  size: 'lg',
  inline: false
})

const sizeClass = computed(() => {
  return {
    'text-lg': props.size === 'sm',
    'text-2xl': props.size === 'md',
    'text-5xl': props.size === 'lg'
  }
})
const weightClass = computed(() => {
  return {
    'font-bold': props.bold
  }
})

const inlineClass = computed(() => {
  return {
    'inline-block': props.inline
  }
})
</script>

<template>
  <div :class="['leading-tight', inlineClass, sizeClass, weightClass]">
    <slot></slot>
  </div>
</template>
