<script setup lang="ts">
import { computed } from 'vue'
import { getCategoryFromCode } from '@/utils/category'

interface IconCategoryProps {
  code: string | number
}

const props = withDefaults(defineProps<IconCategoryProps>(), {
  code: '200'
})

const category = computed(() => {
  return getCategoryFromCode(props.code)
})
</script>

<template>
  <div :class="['text-2xl', category]">
    <IconMaterialSymbols:faucet-rounded
      v-if="category === 'plumbing'"
      class="plumbing"
    />
    <IconMdi:dots-square v-if="category === 'slab'" class="slab" />
    <IconPh:house-thin v-if="category === 'framing'" class="framing" />
    <IconPh:paint-brush-household
      v-if="category === 'painting'"
      class="painting"
    />
  </div>
</template>

<style scoped lang="stylus">
.plumbing {
  color: theme('colors.blue.400');
}

.slab {
  color: theme('colors.slate.400');
}

.framing {
  color: theme('colors.yellow.500');
}
</style>
