<script lang="ts" setup>
interface PageProps {
  size?: 'sm' | 'md' | 'lg'
}

withDefaults(defineProps<PageProps>(), {
  size: 'sm'
})
</script>

<template>
  <div :class="['logo inline-block', size]">
    <img src="/img/home-logo-128.png" />
  </div>
</template>

<style lang="stylus" scoped>
.sm {
  width: 32px;
  height: 32px;
}
</style>
