<script lang="ts" setup>
import { storeToRefs } from 'pinia'
import { ref } from 'vue'
import { buildGanntRows } from '@/utils/gantt'
import { useAirtableData } from '@/composables/useAirtableData'
import { useProject } from '~/stores/project'

const projectStore = useProject()
const { scheduleTableId } = storeToRefs(projectStore)

const pending = ref(true)
const rightCollapsed = ref<Boolean>(false)
const airtable = await useAirtableData()
await airtable.fetchSchedule(scheduleTableId.value)
const schedule = airtable.getSchedule
const rows = buildGanntRows(schedule)

setTimeout(() => {
  pending.value = false
}, 100)

interface ListItem {
  title: string
  meta: string
}

const items: ListItem[] = [
  {
    title: 'Research',
    meta: 'Start finding vendors/trades people, find the right product, read reviews, etc'
  },
  {
    title: 'Bids',
    meta: 'Send request for bids to vendors.'
  },
  {
    title: 'Delivery',
    meta: 'Delivery and order lead time.'
  },
  {
    title: 'Work',
    meta: 'The actual work installing or building the item'
  }
]
</script>

<template>
  <NuxtLayout name="airtable">
    <TableWidthContainer>
      <ASkeleton v-if="pending" active />
      <section v-else>
        <ProjectGanttChart :rows="rows" />
      </section>
    </TableWidthContainer>
    <template #actions>
      <ALayoutSider
        v-model:collapsed="rightCollapsed"
        class="h-screen right-side"
        collapsible
        width="300"
      >
        <div class="p-4">
          <ATypographyTitle :level="5">Legend</ATypographyTitle>
          <AList class="w-full" size="small" :data-source="items">
            <template #renderItem="{ item }">
              <AListItem class="item">
                <AListItemMeta :description="item.meta">
                  <template #title>
                    <ATag :class="item.title.toLowerCase()">{{
                      item.title
                    }}</ATag>
                  </template>
                </AListItemMeta>
              </AListItem>
            </template>
          </AList>
        </div>
      </ALayoutSider>
    </template>
  </NuxtLayout>
</template>

<style lang="stylus" scoped>
.research {
  background-color: theme('colors.yellow.100');
  color: theme('colors.gray.500');
}

.bids {
  background-color: theme('colors.yellow.200');
  color: theme('colors.gray.500');
}

.work {
  background-color: #a9b5c1;
  color: #fff;
}
.delivery {
  background-color: theme('colors.yellow.800');
  color: #fff;
}

.item {
  padding: 8px 0;
}
</style>
