<script lang="ts" setup>
import { computed, ref, Ref } from 'vue'
import { useRoute } from 'vue-router'
import { SortOrder } from 'ant-design-vue/lib/table/interface'
import { definePageMeta } from '~~/.nuxt/imports'
import { CostType, IBids, ICost, ICostGroup, ICosts } from '@/types/airtable'
import { ITableProviderBasedCostRowType } from '@/types/airtable/tables'
import { useAirtableData } from '@/composables/useAirtableData'
import { strToSlug, toDollars } from '@/utils/str'
import { useProviderBasedCostRows } from '@/composables/tables'

definePageMeta({
  layout: false
})
const { params } = useRoute()
const loading = ref(true)

const view = ref('actual')

const airtable = await useAirtableData()
const group = airtable.getCostGroupByID(params.cid as string)

// filtering
const selectedCategories = ref<string[]>([])
const selectedProviders = ref<string[]>([])

function handleCategoryFilterChange(id: string) {
  // add item to selected and remove if already selected
  if (selectedCategories.value.includes(id)) {
    selectedCategories.value = selectedCategories.value.filter((i) => i !== id)
  } else {
    selectedCategories.value = [...selectedCategories.value, id]
  }
}

function handleProviderFilterChange(id: string) {
  // add item to selected and remove if already selected
  if (selectedProviders.value.includes(id)) {
    selectedProviders.value = selectedProviders.value.filter((i) => i !== id)
  } else {
    selectedProviders.value = [...selectedProviders.value, id]
  }
}

const { costs } = airtable.getGroupCosts(params.cid as string) as ICostGroup
loading.value = false

// filter costs by selected categories if any
const filteredCosts = computed<ICosts>(() => {
  if (
    selectedCategories.value.length === 0 &&
    selectedProviders.value.length === 0
  ) {
    return costs
  }

  if (selectedCategories.value.length === 0) {
    // @ts-ignore  ts-2339 - Property id 'Provider' does not exist on string[].
    return costs.filter((c) => selectedProviders.value.includes(c.Provider.id))
  }

  if (selectedProviders.value.length === 0) {
    return costs.filter((c) =>
      selectedCategories.value.includes(c['Budget Line Item'][0])
    )
  }

  return costs.filter(
    (c) =>
      selectedCategories.value.includes(c['Budget Line Item'][0]) ||
      // @ts-ignore  ts-2339 - Property id 'Provider' does not exist on string[].
      selectedProviders.value.includes(c.Provider.id)
  )
})

const filteredCostsTotal = computed<string>(() => {
  let totalCosts = 0

  filteredCosts.value.forEach(({ Amount }) => {
    totalCosts += Amount || 0
  })
  return toDollars(totalCosts)
})

const rows = computed<ITableProviderBasedCostRowType[]>(() => {
  return useProviderBasedCostRows(filteredCosts.value, 'Amount')
})

function providerLink(record: ITableProviderBasedCostRowType) {
  return `/projects/${params.model as string}/${params.id}/provider/${
    record.id
  }#${strToSlug(record.name)}`
}

const bids: IBids = airtable.getBidsByCostGroup([params.cid as string])
const costFormat = bids.map((bid) => {
  const costGroup = airtable.getCostGroupByID(bid['Cost Group'][0])
  const category = airtable.getCategoryByID(bid.Category[0])
  const name =
    costGroup?.Name && category?.Name
      ? `${costGroup.Name} - ${category.Name}`
      : costGroup?.Name || category?.Name
  const cost: ICost = {
    id: bid.id,
    Type: CostType.ESTIMATE,
    Name: name,
    Amount: bid.Amount,
    Attachments: bid.Attachment,
    Bids: [bid.id],
    'Budget Line Item': ['0'],
    'Cost Group': bid['Cost Group'],
    'Date of Payment': bid['Date of Payment'],
    Photos: [],
    Provider: airtable.getProvider(bid.Provider[0])
  }
  return cost
})

const bidRows = computed<ITableProviderBasedCostRowType[]>(() => {
  return useProviderBasedCostRows(costFormat, 'Amount')
})

const rightCollapsed = ref<Boolean>(false)
const sortKey = ref('amount')
const sortOrder = ref('descend') as Ref<SortOrder>
function handleSelectChange(key: string) {
  sortKey.value = key
}

function handleSortOrder(key: SortOrder) {
  sortOrder.value = key
}

// right menu
const visibleRightSections = ref([])
</script>

<template>
  <NuxtLayout name="airtable">
    <TableWidthContainer>
      <ASkeleton v-if="loading" active />
      <section v-else>
        <TableProviders
          v-if="view === 'bids'"
          :rows="bidRows"
          :show-total="false"
          :sort-key="sortKey"
          :sort-order="sortOrder"
          size="small"
          total="0"
        >
          <template #action>
            <ARadioGroup v-model:value="view">
              <ARadioButton value="actual">Actual Costs</ARadioButton>
              <ARadioButton value="bids">Bids</ARadioButton>
            </ARadioGroup>
          </template>
          <template #amount="{ record }">
            <TableAmountCell :record="record" invoice-name="bid" />
          </template>
          <template #name="{ record }">
            <Anchor :to="providerLink(record)" set-back>
              {{ record.name }}
            </Anchor>
            <div class="-mt-2">
              <ATypographyText type="secondary" class="text-sm">
                {{ record.costName }}
              </ATypographyText>
            </div>
          </template>
        </TableProviders>
        <TableProviders
          v-else
          :sort-key="sortKey"
          :sort-order="sortOrder"
          :rows="rows"
          :total="filteredCostsTotal"
        >
          <template #tab>
            <ATypographyTitle>{{ group.Name }}</ATypographyTitle>
          </template>
          <template #action>
            <ARadioGroup v-model:value="view">
              <ARadioButton value="actual">Actual Costs</ARadioButton>
              <ARadioButton value="bids">Bids</ARadioButton>
            </ARadioGroup>
          </template>
          <template #name="{ record }">
            <Anchor :to="providerLink(record)" set-back>
              {{ record.name }}
            </Anchor>
            <div class="-mt-2">
              <ATypographyText type="secondary" class="text-sm">
                {{ record.costName }}
              </ATypographyText>
            </div>
          </template>
        </TableProviders>
      </section>
    </TableWidthContainer>
    <template #actions>
      <ALayoutSider
        v-model:collapsed="rightCollapsed"
        class="h-screen right-side"
        collapsible
        width="300"
      >
        <ACollapse
          v-model:activeKey="visibleRightSections"
          expand-icon-position="right"
        >
          <template #expandIcon="{ isActive }">
            <IconMdi:minus v-if="isActive" />
            <IconMdi:plus v-else />
          </template>
          <ACollapsePanel key="sorting" header="Sort Options">
            <TableSortSideBar
              :sort-key="sortKey"
              :sort-order="sortOrder"
              @sort-changed="handleSelectChange"
              @order-changed="handleSortOrder"
            />
          </ACollapsePanel>
          <ACollapsePanel key="categories" header="Totals By Category">
            <TableFilterByCategory
              :costs="costs"
              :selected="selectedCategories"
              @item-clicked="handleCategoryFilterChange"
            />
          </ACollapsePanel>

          <ACollapsePanel key="providers" header="Totals By Provider">
            <TableFilterByProvider
              :costs="costs"
              :selected="selectedProviders"
              @item-clicked="handleProviderFilterChange"
            />
          </ACollapsePanel>
        </ACollapse>
      </ALayoutSider>
    </template>
  </NuxtLayout>
</template>
