<script lang="ts" setup>
interface FooterProps {
  color?: 'dark' | 'light'
}

withDefaults(defineProps<FooterProps>(), {
  color: 'dark'
})

interface ListItem {
  title: string
  link: string
}

const items: ListItem[] = [
  {
    title: 'About',
    link: '/about'
  },
  {
    title: 'Projects',
    link: '/projects'
  },
  {
    title: 'Community',
    link: '/about/community'
  }
]
</script>

<template>
  <footer :class="['footer', color]">
    <div class="w-full py-5 px-6">
      <ul class="flex space-x-6 list-none mb-0">
        <li class="logo">
          <span class="font-semibold">Openhouse</span>
        </li>
        <li v-for="item in items" :key="item.title">
          <Anchor :to="item.link">{{ item.title }}</Anchor>
        </li>
      </ul>
    </div>
  </footer>
</template>

<style lang="stylus" scoped>
.footer.dark {
  background-color: lighten(theme('colors.slate.900'), 1%);

  .logo span, a {
    color: white;
  }
}

.footer.light {
  background-color: white;
  .logo span, a {
    color: theme('colors.slate.900');
  }
}

.logo {
  font-family: 'Kanit', sans-serif;
}
</style>
