<script lang="ts" setup>
export interface NavProps {
  isOpen?: boolean
}
withDefaults(defineProps<NavProps>(), {
  isOpen: false
})
const { name, params } = useRoute()

function handleNavClick(key: string): void {
  const url = `/projects/${params.model as string}/${
    params.id as string
  }/${key}`
  navigateTo(url)
}

const costsAreActive = computed(() => {
  return [
    'projects-id-costs',
    'projects-id-cost-cid',
    'projects-id-provider-pid'
  ].includes(name as string)
})

const ganttIsActive = computed(() => {
  return ['projects-id-gantt'].includes(name as string)
})

const photosAreActive = computed(() => {
  return ['projects-id-photos', 'projects-id-photos-gid'].includes(
    name as string
  )
})
</script>

<template>
  <ul :class="[{ open: isOpen }, 'mb-2']">
    <li :class="{ active: costsAreActive }">
      <a @click="handleNavClick('costs')">
        <IconArcticons:symboldollar class="text-md icon costs" />
        <span class="text">Costs</span>
      </a>
    </li>
    <li :class="{ active: ganttIsActive }">
      <a @click="handleNavClick('gantt')">
        <IconMdi:chart-gantt class="text-md icon gantt" />
        <span class="text">Step by Step</span>
      </a>
    </li>
    <li :class="{ active: photosAreActive }">
      <a @click="handleNavClick('photos')">
        <IconIc:outline-photo-camera class="text-md icon photos" />
        <span class="text">Photos</span>
      </a>
    </li>
  </ul>
</template>

<style lang="stylus" scoped>
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  li {
    margin: 0.5rem 0;
    .text {
      display: none;
    }
    .icon {
      width: 26px;
      stroke: theme('colors.slate.500');
    }
    .icon.gantt {
      :deep(path) {
        fill: theme('colors.slate.300');
      }
    }
    .icon.photos, .icons.gantt {
      :deep(path) {
        fill: theme('colors.slate.400');
        stroke: theme('colors.slate.400');
      }
    }
    a .text {
      color: theme('colors.slate.500');
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.75rem;
      vertical-align: middle;
      &:hover {
        color: theme('colors.slate.900');
      }
    }
    &.active {
      a .text {
        color: theme('colors.slate.900');
      }
    }
  }

  &.open {
    .icon {
      display: none;
    }
    .text {
      display: inline-block;
    }
  }
}
</style>
