<script lang="ts" setup>
export interface NavProps {
  isOpen?: boolean
}
withDefaults(defineProps<NavProps>(), {
  isOpen: false
})
const { name, params } = useRoute()
const costsAreActive = computed(() => {
  return [
    'projects-model-id-costs',
    'projects-model-id-cost-cid',
    'projects-model-id-provider-pid'
  ].includes(name as string)
})

const ganttIsActive = computed(() => {
  return ['projects-model-id-gantt'].includes(name as string)
})

const photosAreActive = computed(() => {
  return [
    'projects-model-id-photos',
    'projects-model-id-photos-gid',
    'projects-model-id'
  ].includes(name as string)
})
</script>

<template>
  <TabContainer>
    <TabButton
      :to="`/projects/${params.model}/${params.id}/costs`"
      text="Costs"
      :is-active="costsAreActive"
    />
    <TabButton
      :to="`/projects/${params.model}/${params.id}/gantt`"
      text="Step by Step"
      :is-active="ganttIsActive"
    />
    <TabButton
      :to="`/projects/${params.model}/${params.id}/photos`"
      text="Photos"
      :is-active="photosAreActive"
    />
  </TabContainer>
</template>
