<script lang="ts" setup>
import { ITableCostRowType } from '~~/types/airtable/tables'

interface PageProps {
  record?: ITableCostRowType
  invoiceName?: string
}
withDefaults(defineProps<PageProps>(), {
  invoiceName: 'invoice'
})
</script>
<template>
  <ATypographyText class="block">
    {{ record.formattedAmount }}
  </ATypographyText>
  <div v-if="record?.invoices" class="-mt-2">
    <ATypographyText
      v-if="record?.invoices?.length === 1"
      type="secondary"
      class="text-sm"
    >
      <a :href="record.invoices[0].url" target="_blank"
        >view {{ invoiceName }}</a
      >
    </ATypographyText>
    <ATypographyText
      v-if="record?.invoices?.length > 1"
      type="secondary"
      class="text-sm"
    >
      {{ invoiceName }}
      <ul class="inline-list">
        <li v-for="(invoice, i) in record.invoices" :key="invoice.id">
          <a :href="invoice.url" target="_blank">
            {{ i + 1 }}
          </a>
        </li>
      </ul>
    </ATypographyText>
  </div>
</template>

<style lang="stylus" scoped>
ul {
  display: inline;
  list-style: none;
  li {
    display: inline;
    margin: 0;
    padding: 0;
    &:after {
      content: ','
    }
  }
  li:last-child:after {
    content: '';
  }
}
</style>
