<script lang="ts" setup>
import { ICosts } from '~~/types/airtable'
import { useAirtable } from '~/stores/airtable'
import { toDollars } from '@/utils/str'

interface PageProps {
  costs: ICosts
  selected: string[]
}
const props = defineProps<PageProps>()

const emit = defineEmits<{
  (e: 'item-clicked', id: string): void
}>()

const selectedRef = toRef(props, 'selected')

const airtable = useAirtable()
const aggregatedCategories = computed(() => {
  const total = {}
  props.costs.forEach((cost) => {
    const budgetLineItem = cost['Budget Line Item'][0]
    if (total[budgetLineItem]) {
      total[budgetLineItem].total += cost.Amount
    } else {
      total[budgetLineItem] = {
        id: budgetLineItem,
        name:
          airtable.getCategoryByID(budgetLineItem)?.Name || 'Name not found',
        total: cost.Amount
      }
    }
  })
  return Object.values(total)
})

function handleClick(item) {
  emit('item-clicked', item.id)
}

function isSelected(item) {
  return selectedRef.value.includes(item.id)
}
</script>
<template>
  <AList class="sort-list" size="small" :data-source="aggregatedCategories">
    <template #renderItem="{ item }">
      <AListItem :class="['item']">
        <AListItemMeta
          class="cursor-pointer"
          :description="toDollars(item.total)"
          @click="handleClick(item)"
        >
          <template #avatar>
            <IconMaterialSymbols:check-box-rounded v-if="isSelected(item)" />
            <IconMaterialSymbols:check-box-outline-blank v-else />
          </template>
          <template #title>
            <span>
              {{ item.name }}
            </span>
          </template>
        </AListItemMeta>
      </AListItem>
    </template>
  </AList>
</template>

<style lang="stylus" scoped></style>
