<script lang="ts" setup>
import { ITableCostRowType } from '~~/types/airtable/tables'

interface PageProps {
  record?: ITableCostRowType
}
defineProps<PageProps>()
</script>
<template>
  <div class="text-right">
    <APopover placement="bottom">
      <template #content>
        <p>Date: {{ record.formattedDate }}</p>
      </template>
      <AButton type="link">
        <template #icon>
          <IconMdi:dots-vertical class="dots" />
        </template>
      </AButton>
    </APopover>
  </div>
</template>

<style lang="stylus" scoped>

:deep(.dots) path {
  color: theme('colors.slate.400');
}
</style>
