<script lang="ts" setup>
import { ITableCostRowType } from '~~/types/airtable/tables'
import { photosOnly, photoThumbnail } from '~/utils/image'

interface PageProps {
  record?: ITableCostRowType
  showPreview?: boolean
}

const props = withDefaults(defineProps<PageProps>(), {
  showPreview: false
})
const visible = ref<boolean>(false)
const thumbnail = ref(photoThumbnail(props.record?.Photos))

const emit = defineEmits<{
  (e: 'photo-clicked', record: ITableCostRowType): void
}>()

function handlePhotoClick(record: ITableCostRowType) {
  emit('photo-clicked', record)
  if (props.showPreview) {
    visible.value = true
  }
}

const photos = computed(() => {
  return photosOnly(props.record?.Photos)
})
</script>
<template>
  <a v-if="thumbnail" @click.prevent="handlePhotoClick(props.record)">
    <AAvatar :src="thumbnail" :alt="record.name" shape="round" />
  </a>
  <div v-if="showPreview && record?.Photos" style="display: none">
    <AImagePreviewGroup
      :preview="{
        visible,
        onVisibleChange: (vis) => (visible = vis)
      }"
    >
      <AImage v-for="photo in photos" :key="photo.id" :src="photo.url">
        <template #placeholder>
          <AImage
            src="https://picsum.photos/200"
            :width="200"
            :preview="false"
          />
        </template>
      </AImage>
    </AImagePreviewGroup>
  </div>
</template>
