<script lang="ts" setup>
import { computed, ref } from 'vue'
import { SortOrder } from 'ant-design-vue/lib/table/interface'
import { ITableCostRowType } from '@/types/airtable/tables'
import {
  maxHeightTable,
  useProviderBaseCostColumns
} from '@/composables/tables'

export interface PresentationProps {
  rows: ITableCostRowType[]
  showSorter?: boolean
  showTotal?: boolean
  size?: 'small' | 'middle' | 'large'
  sortKey?: string
  sortOrder?: SortOrder
  total: string
}

const props = withDefaults(defineProps<PresentationProps>(), {
  showSorter: true,
  showTotal: true,
  size: 'middle',
  sortKey: 'name',
  sortOrder: 'ascend' as SortOrder,
  total: '$0.00'
})

const sortKeyRef = toRef(props, 'sortKey')
const sortOrderRef = toRef(props, 'sortOrder')
const columns = computed(() => {
  return useProviderBaseCostColumns(sortKeyRef, sortOrderRef)
})
const scrollHeight = ref({ y: 0 })
onMounted(() => {
  scrollHeight.value = maxHeightTable()
})
</script>

<template>
  <ASpace direction="vertical" size="large">
    <div v-if="showSorter" class="flex flex-row">
      <div class="basis-1/2">
        <slot name="tab" />
      </div>
      <div class="basis-1/2 text-right">
        <slot name="action" />
      </div>
    </div>
    <ATable
      :data-source="rows"
      :columns="columns"
      :pagination="false"
      size="middle"
      :scroll="scrollHeight"
    >
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'name'">
          <slot name="name" :record="record">
            {{ record.name }}
          </slot>
        </template>
        <template v-if="column.key === 'amount'">
          <slot name="amount" :record="record">
            <TableAmountCell :record="record" />
          </slot>
        </template>
        <template v-if="column.key === 'photos'">
          <TablePhotoCell :record="record" :show-preview="true" />
        </template>
        <template v-if="column.key === 'date'">
          <TableMoreCell :record="record" />
        </template>
      </template>
      <template v-if="showTotal" #summary>
        <ATableSummary fixed>
          <ATableSummaryRow class="row-summary">
            <ATableSummaryCell />
            <ATableSummaryCell>Total</ATableSummaryCell>
            <ATableSummaryCell class="column-money">
              <ATypographyText>{{ total }}</ATypographyText>
            </ATableSummaryCell>
            <ATableSummaryCell />
          </ATableSummaryRow>
        </ATableSummary>
      </template>
    </ATable>
  </ASpace>
</template>

<style lang="stylus" scoped>
.selected {
  font-weight: 600;
}
</style>
