<script lang="ts" setup>
import { SortOrder } from 'ant-design-vue/lib/table/interface'
import { capitalize } from '~/utils/str'

interface SortProps {
  sortChoices: string[]
  sortKey: string
  sortOrder: SortOrder
}

const props = withDefaults(defineProps<SortProps>(), {
  sortChoices: () => ['name', 'date', 'amount'],
  sortKey: 'name',
  sortOrder: 'ascend' as SortOrder
})

const emit = defineEmits<{
  (e: 'sort-changed', key: string): void
  (e: 'order-changed', order: string): void
}>()

function handleSelectChange(sort: string) {
  emit('sort-changed', sort)
}

function selectedClass(key: string) {
  return props.sortKey === key ? 'selected' : ''
}

function switchSortOrder(key: SortOrder) {
  emit('order-changed', key)
}
</script>

<template>
  <span class="text-small text-slate-400 pr-2">Sort by:</span>
  <ASelect
    ref="select"
    :value="sortKey"
    class="text-left"
    style="width: 120px"
    @change="handleSelectChange"
  >
    <ASelectOption
      v-for="choice in sortChoices"
      :key="choice"
      :class="selectedClass(choice)"
      :value="choice"
    >
      {{ capitalize(choice) }}
    </ASelectOption>
  </ASelect>
  <span class="sorter ml-2 cursor-pointer">
    <IconMaterialSymbols:arrow-upward
      v-if="sortOrder === 'ascend'"
      class="inline mr-2"
      @click="switchSortOrder('descend')"
    />
    <IconMaterialSymbols:arrow-downward
      v-else
      class="inline mr-2"
      @click="switchSortOrder('ascend')"
    />
  </span>
</template>

<style lang="stylus" scoped>
.selected {
  font-weight: 600;
}
</style>
