<script lang="ts" setup>
import { SortOrder } from 'ant-design-vue/lib/table/interface'
import { capitalize } from '~/utils/str'

interface SortProps {
  sortChoices?: string[]
  sortKey?: string
  sortOrder?: SortOrder
}

const props = withDefaults(defineProps<SortProps>(), {
  sortChoices: () => ['name', 'date', 'amount'],
  sortKey: 'name',
  sortOrder: 'ascend' as SortOrder
})
const sortKeyRef = toRef(props, 'sortKey')
const sortOrderRef = toRef(props, 'sortOrder')

const emit = defineEmits<{
  (e: 'sort-changed', key: string): void
  (e: 'order-changed', order: string): void
}>()

function handleSelectChange(key: string) {
  if (sortKeyRef.value === key) {
    if (sortOrderRef.value === 'ascend') {
      emit('order-changed', 'descend')
    } else {
      emit('order-changed', 'ascend')
    }
  } else {
    emit('sort-changed', key)
  }
}

function handleSortOrder(key: SortOrder) {
  emit('order-changed', key)
}
</script>

<template>
  <div>
    <AList class="sort-list" size="small" :data-source="sortChoices">
      <template #renderItem="{ item }">
        <AListItem :class="['item', { active: item === sortKey }]">
          <AListItemMeta>
            <template #avatar>
              <span v-if="sortKey === item">
                <IconMaterialSymbols:arrow-upward
                  v-if="sortOrder === 'ascend'"
                  class="inline cursor-pointer"
                  @click="handleSortOrder('descend')"
                />
                <IconMaterialSymbols:arrow-downward
                  v-else
                  class="inline cursor-pointer"
                  @click="handleSortOrder('ascend')"
                />
              </span>
            </template>
            <template #title>
              <span class="cursor-pointer" @click="handleSelectChange(item)">
                {{ capitalize(item) }}
              </span>
            </template>
          </AListItemMeta>
        </AListItem>
      </template>
    </AList>
  </div>
</template>

<style lang="stylus">
.ant-list.sort-list {
  .ant-list-item {
    border: none;
    padding-left: 0;
    .ant-list-item-meta-avatar {
      margin-right: 0;
      margin-top: -1px;
      min-width: 22px;
    }
    .ant-list-item-meta-title {
      margin-bottom: 0;
    }
    &.active {
      .ant-list-item-meta-title {
        font-weight: 600;
      }
    }
    &:hover {
      .ant-list-item-meta-title {
        font-weight: 600;
      }
    }
  }
}
</style>
