<template>
  <Transition name="fade">
    <slot></slot>
  </Transition>
</template>

<style lang="stylus" scoped>
.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s ease-out;
}

.fade-enter-from {
  opacity: 1;
}
.fade-leave-to {
  opacity: 0;
}
</style>
