<script lang="ts" setup>
import { computed, ref } from 'vue'
import { useRoute } from 'vue-router'
import { ICostGroupArray } from '@/types/airtable'
import { ITableCostRowType } from '@/types/airtable/tables'
import { useAirtable } from '@/stores/airtable'
import { strToSlug } from '@/utils/str'
import { useCostColumns, useCostRows, useTotalRows } from '@/composables/tables'

const airtable = useAirtable()
const columns = useCostColumns

const { params } = useRoute()

const pending = ref(true)
const costs: ICostGroupArray = airtable.getActualCostsByGroup

const rows = computed<Array<ITableCostRowType>>(() => {
  return useCostRows(costs)
})

const total = computed<string>(() => {
  return useTotalRows(rows.value)
})

setTimeout(() => {
  pending.value = false
}, 100)

function costCategoryLink(record: ITableCostRowType) {
  return `/projects/${params.model}/${params.id}/cost/${record.key}#${strToSlug(
    record.name
  )}`
}
function handlePhotoClick(record: ITableCostRowType) {
  useSetBackToHere()
  navigateTo({
    path: `/projects/${params.model}/${params.id as string}/photos/${
      record.key
    }`
  })
}
</script>

<template>
  <NuxtLayout name="airtable">
    <TableWidthContainer>
      <ASkeleton v-if="pending" active />
      <div v-else class="custom-table large">
        <ATable
          :data-source="rows"
          :columns="columns"
          :pagination="false"
          size="middle"
          :scroll="{ y: 500 }"
        >
          <template #bodyCell="{ column, record }">
            <template v-if="column.key === 'name'">
              {{ record.name }}
            </template>
            <template v-if="column.key === 'amount'">
              <Anchor :to="costCategoryLink(record)">
                {{ record.formattedAmount }}
              </Anchor>
            </template>
            <template v-if="column.key === 'photos'">
              <TablePhotoCell
                :record="record"
                @photo-clicked="handlePhotoClick"
              />
            </template>
          </template>
          <template #summary>
            <ATableSummary fixed>
              <ATableSummaryRow class="row-summary">
                <ATableSummaryCell />
                <ATableSummaryCell class="summary-total"
                  >Total</ATableSummaryCell
                >
                <ATableSummaryCell class="column-money">
                  <ATypographyText>{{ total }}</ATypographyText>
                </ATableSummaryCell>
              </ATableSummaryRow>
            </ATableSummary>
          </template>
        </ATable>
      </div>
    </TableWidthContainer>
  </NuxtLayout>
</template>
