<script setup lang="ts">
import { ref } from 'vue'
import { ICostGroupArray, ICostGroup } from '@/types/airtable'
import { useAirtableData } from '@/composables/useAirtableData'

const { params } = useRoute()
const pending = ref(true)

const airtable = await useAirtableData()
const groupsWithPhotos = airtable.getPhotos as ICostGroupArray
setTimeout(() => {
  pending.value = false
}, 100)

function handleClick(record: ICostGroup) {
  useSetBackToHere()
  navigateTo({
    path: `/projects/${params.model}/${params.id as string}/photos/${record.id}`
  })
}
</script>

<template>
  <NuxtLayout name="airtable">
    <template #header>
      <ABreadcrumb>
        <ABreadcrumbItem>Photos</ABreadcrumbItem>
      </ABreadcrumb>
    </template>
    <div class="relative my-2">
      <ASkeleton v-if="pending" active />
      <MasonryWall
        v-else
        :items="(groupsWithPhotos as ICostGroupArray)"
        :ssr-columns="1"
        :column-width="300"
        :gap="12"
      >
        <template #default="{ item: group }">
          <ACard hoverable class="mb-4">
            <template #cover>
              <AImage
                :preview="false"
                :src="group.thumbnail"
                class="inline-block align-middle relative cursor-pointer"
                @click="handleClick(group)"
              />
            </template>
            <ACardMeta :title="group.Name">
              <template #description></template>
            </ACardMeta>
          </ACard>
        </template>
      </MasonryWall>
    </div>
  </NuxtLayout>
</template>

<style lang="stylus" scoped>
figure {
  margin: 0
}

.item {
  background-color: var(--base-text-color);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ant-select {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
</style>
