<script lang="ts" setup>
import { computed, Ref, ref } from 'vue'
import { useRoute } from 'vue-router'
import { SortOrder } from 'ant-design-vue/lib/table/interface'
import { ICostGroup, IProvider } from '@/types/airtable'
import {
  ITableCostRowType,
  ITableProviderBasedCostRowType
} from '@/types/airtable/tables'

import { useAirtableData } from '@/composables/useAirtableData'

import { strToSlug, toDollars } from '@/utils/str'
import { maxHeightTable, useTotalRows } from '@/composables/tables'

const { params } = useRoute()

const pending = ref(true)
const airtable = await useAirtableData()
const providers: IProvider[] = airtable.getCostsByProvider

const rows = computed<Array<ITableCostRowType>>(() => {
  return providers
    .map((provider: IProvider, i: number) => {
      const total = provider.costs?.reduce((acc, curr) => {
        return acc + curr.Amount
      }, 0)
      const costGroups = {}
      provider.costs?.forEach((cost) => {
        cost['Cost Group'].forEach((group) => {
          if (!costGroups[group]) {
            costGroups[group] = airtable.getCostGroupByID(group)
          }
        })
      })
      return {
        key: `${provider.id}+${i}`,
        id: provider.id,
        name: provider.Company || provider.Name,
        amount: total || 0,
        formattedAmount: toDollars(total),
        costGroup: Object.values(costGroups)
      }
    })
    .filter((row) => row.amount > 0)
    .sort((a, b) => {
      return a.amount > b.amount ? -1 : 1
    })
})
const total = computed<string>(() => {
  return useTotalRows(rows.value)
})

setTimeout(() => {
  pending.value = false
}, 100)

function providerLink(record: ITableProviderBasedCostRowType) {
  return `/projects/${params.model}/${params.id}/provider/${
    record.id
  }#${strToSlug(record.name)}`
}

function costCategoryLink(group: ICostGroup) {
  return `/projects/${params.model}/${params.id}/cost/${group.id}#${strToSlug(
    group.Name
  )}`
}

const rightCollapsed = ref<Boolean>(false)
const sortKey = ref('amount')
const sortOrder = ref('descend') as Ref<SortOrder>
const columns = computed(() => {
  return useProviderBaseCostColumns(sortKey, sortOrder)
})
function handleSelectChange(key: string) {
  sortKey.value = key
}

function handleSortOrder(key: SortOrder) {
  sortOrder.value = key
}

// right menu
const visibleRightSections = ref([])
</script>

<template>
  <NuxtLayout name="airtable">
    <template #header>
      <ABreadcrumb>
        <ABreadcrumbItem>Providers</ABreadcrumbItem>
      </ABreadcrumb>
    </template>
    <TableWidthContainer>
      <ASkeleton v-if="pending" active />
      <div v-else class="custom-table large">
        <div class="flex flex-row">
          <div class="basis-1/2"></div>
          <div class="basis-1/2 text-right"></div>
        </div>
        <ATable
          :data-source="rows"
          :columns="columns"
          :pagination="false"
          size="middle"
          :scroll="maxHeightTable()"
        >
          <template #bodyCell="{ column, record }">
            <template v-if="column.key === 'name'">
              <ATypographyText class="block">
                <Anchor :to="providerLink(record)">
                  {{ record.name }}
                </Anchor>
              </ATypographyText>
              <div class="-mt-2">
                <ATypographyText type="secondary" class="text-sm">
                  <Anchor
                    v-for="group in record.costGroup"
                    :key="group.id"
                    class="text-slate-500 pr-1 group-anchor"
                    :to="costCategoryLink(group)"
                    set-back
                  >
                    {{ group.Name }}
                  </Anchor>
                </ATypographyText>
              </div>
            </template>
            <template v-if="column.key === 'amount'">
              {{ record.formattedAmount }}
            </template>
          </template>
          <template #summary>
            <ATableSummary fixed>
              <ATableSummaryRow class="row-summary">
                <ATableSummaryCell />
                <ATableSummaryCell class="summary-total"
                  >Total</ATableSummaryCell
                >
                <ATableSummaryCell class="column-money">
                  <ATypographyText>{{ total }}</ATypographyText>
                </ATableSummaryCell>
              </ATableSummaryRow>
            </ATableSummary>
          </template>
        </ATable>
      </div>
    </TableWidthContainer>
    <template #actions>
      <ALayoutSider
        v-model:collapsed="rightCollapsed"
        class="h-screen right-side"
        collapsible
        width="300"
      >
        <ACollapse v-model:activeKey="visibleRightSections">
          <ACollapsePanel key="sorting" header="Sort Options">
            <TableSortSideBar
              :sort-key="sortKey"
              :sort-order="sortOrder"
              @sort-changed="handleSelectChange"
              @order-changed="handleSortOrder"
            />
          </ACollapsePanel>
        </ACollapse>
      </ALayoutSider>
    </template>
  </NuxtLayout>
</template>

<style lang="stylus" scoped>
.group-anchor {
  color: theme('colors.slate.500');
  &:after {
    content: "|"
    padding-left: 5px
  }
  &:only-child, &:last-child {
    &:after {
      content: ""
    }
  }
}
</style>
