<script lang="ts" setup>
import { computed, Ref, ref } from 'vue'
import { useRoute } from 'vue-router'
import { SortOrder } from 'ant-design-vue/lib/table/interface'
import { definePageMeta } from '~~/.nuxt/imports'
import { ICostGroup, ICosts, IProvider } from '@/types/airtable'
import { ITableCostRowType } from '@/types/airtable/tables'
import { useAirtableData } from '@/composables/useAirtableData'
import { strToSlug, toDollars } from '~~/utils/str'

definePageMeta({
  layout: false
})
const { params } = useRoute()
const pending = ref(true)

const airtable = await useAirtableData()
const costs: ICosts = airtable.getCostsbyProvider(params.pid as string)
const provider: IProvider = airtable.getProvider(params.pid as string)

// filtering
const selectedCategories = ref<string[]>([])
function handleCategoryFilterChange(id: string) {
  // add item to selected and remove if already selected
  if (selectedCategories.value.includes(id)) {
    selectedCategories.value = selectedCategories.value.filter((i) => i !== id)
  } else {
    selectedCategories.value = [...selectedCategories.value, id]
  }
}

// filter costs by selected categories if any
const filteredCosts = computed<ICosts>(() => {
  if (selectedCategories.value.length === 0) {
    return costs
  }
  return costs.filter((c) =>
    selectedCategories.value.includes(c['Budget Line Item'][0])
  )
})

const rows = computed<Array<ITableCostRowType>>(() => {
  return useCostRows(filteredCosts.value, 'Amount')
})

const total = computed<string>(() => {
  let totalCosts = 0

  filteredCosts.value.forEach(({ Amount }) => {
    totalCosts += Amount || 0
  })
  return toDollars(totalCosts)
})

setTimeout(() => {
  pending.value = false
}, 100)

function getCategory(record: ITableCostRowType) {
  const group = airtable.getCostGroupByID(record.costGroup) as ICostGroup
  return group.Name
}
function costCategoryLink(record: ITableCostRowType) {
  const group = airtable.getCostGroupByID(record.costGroup) as ICostGroup
  return `/projects/${params.model as string}/${params.id}/cost/${
    group.id
  }#${strToSlug(group.Name)}`
}

const providersLink = computed(
  () => `/projects/${params.model}/${params.id}/providers`
)
const defaultBackLink = computed(
  () => `/projects/${params.model}/${params.id}/costs`
)

const rightCollapsed = ref<Boolean>(false)
const sortKey = ref('name')
const sortOrder = ref('ascend') as Ref<SortOrder>
function handleSelectChange(key: string) {
  sortKey.value = key
}

function handleSortOrder(key: SortOrder) {
  sortOrder.value = key
}

// right menu
const visibleRightSections = ref([])
</script>

<template>
  <NuxtLayout name="airtable">
    <template #header>
      <ABreadcrumb>
        <ABreadcrumbItem>
          <Back :default-url="defaultBackLink" />
          <Anchor :to="providersLink">Providers</Anchor>
        </ABreadcrumbItem>
        <ABreadcrumbItem>
          {{ provider.Company || provider.Name }}
        </ABreadcrumbItem>
      </ABreadcrumb>
    </template>
    <TableWidthContainer>
      <ASkeleton v-if="pending" active />
      <TableProviders
        v-else
        :rows="rows"
        :total="total"
        :sort-key="sortKey"
        :sort-order="sortOrder"
      >
        <template #name="{ record }">
          <ATypographyText class="block">
            {{ record.name }}
          </ATypographyText>
          <div class="-mt-2">
            <ATypographyText type="secondary" class="text-sm">
              <Anchor :to="costCategoryLink(record)" set-back>
                {{ getCategory(record) }}
              </Anchor>
            </ATypographyText>
          </div>
        </template>
      </TableProviders>
    </TableWidthContainer>
    <template #actions>
      <ALayoutSider
        v-model:collapsed="rightCollapsed"
        class="h-screen right-side"
        collapsible
        width="300"
      >
        <ACollapse v-model:activeKey="visibleRightSections">
          <ACollapsePanel key="sorting" header="Sort Options">
            <TableSortSideBar
              :sort-key="sortKey"
              :sort-order="sortOrder"
              @sort-changed="handleSelectChange"
              @order-changed="handleSortOrder"
            />
          </ACollapsePanel>
          <ACollapsePanel key="categories" header="Totals By Category">
            <TableFilterByCategory
              :costs="costs"
              :selected="selectedCategories"
              @item-clicked="handleCategoryFilterChange"
            />
          </ACollapsePanel>
        </ACollapse>
      </ALayoutSider>
    </template>
  </NuxtLayout>
</template>
