<template>
  <ABackTop>
    <div class="back-up"><IconMaterialSymbols:arrow-upward-rounded /></div>
  </ABackTop>
</template>

<style lang="stylus" scoped>
.back-up {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: var(--border-radius);
  background-color: theme('colors.blue.400');
  color: #fff;
  text-align: center;
  font-size: 20px;
}
</style>
