<script lang="ts" setup>
interface PageProps {
  defaultUrl?: string
}
const props = defineProps<PageProps>()

function handleTabClick(): void {
  useGoBack(props.defaultUrl)
}
</script>
<template>
  <AButton class="back mr-2" @click="handleTabClick">
    <template #icon>
      <Icon-mdi:keyboard-backspace />
    </template>
  </AButton>
</template>

<style lang="stylus" scoped>
.back {
  vertical-align: 4px !important;
}
</style>
