<script lang="ts" setup>
import { computed, ref } from 'vue'
import { useRoute } from 'vue-router'
import { TableColumnType } from 'ant-design-vue'
import { ICostGroupArray } from '@/types/airtable'
import {
  ITableCostRowType,
  ITableProviderBasedCostRowType
} from '@/types/airtable/tables'

import { useAirtableData } from '@/composables/useAirtableData'

import { strToSlug, toDollars } from '@/utils/str'
import { maxHeightTable, useCostRows, useTotalRows } from '@/composables/tables'

const useBudgetColumns: TableColumnType[] = [
  {
    title: 'Name',
    dataIndex: 'name',
    key: 'name',
    sorter: (
      a: ITableProviderBasedCostRowType,
      b: ITableProviderBasedCostRowType
    ) => {
      return ('' + a.name).localeCompare(b.name)
    },
    sortDirections: ['descend', 'ascend'],
    width: 250
  },
  {
    title: 'Estimated',
    dataIndex: 'formattedAmount',
    key: 'budget',
    className: 'column-money'
  },
  {
    title: 'Amount',
    dataIndex: 'formattedAmount',
    key: 'amount',
    sorter: (
      a: ITableProviderBasedCostRowType,
      b: ITableProviderBasedCostRowType
    ) => {
      return a.amount - b.amount
    },
    sortDirections: ['descend', 'ascend'],
    className: 'column-money'
  }
]

const columns = useBudgetColumns
const { params } = useRoute()

const pending = ref(true)
const airtable = await useAirtableData()
const actualCosts: ICostGroupArray = airtable.getActualCostsByGroup
const budgetedCosts: ICostGroupArray = airtable.getBudgetedCostsByGroup

const rows = computed<Array<ITableCostRowType>>(() => {
  return useCostRows(actualCosts)
})

const total = computed<string>(() => {
  return useTotalRows(rows.value)
})

setTimeout(() => {
  pending.value = false
}, 100)

function costCategoryLink(record: ITableCostRowType) {
  return `/projects/${params.model as string}/${params.id}/cost/${
    record.key
  }#${strToSlug(record.name)}`
}

function getBudgetedAmount(record: ITableCostRowType) {
  const budgetedCost = budgetedCosts.find((cost) => cost.code === record.code)
  if (budgetedCost) {
    return toDollars(budgetedCost.total) || 0
  }
  return 0
}
</script>

<template>
  <ASkeleton v-if="pending" active />
  <ATable
    v-else
    :data-source="rows"
    :columns="columns"
    :pagination="false"
    size="middle"
    :scroll="maxHeightTable()"
  >
    <template #bodyCell="{ column, record }">
      <template v-if="column.key === 'name'">
        {{ record.name }}
      </template>
      <template v-if="column.key === 'budget'">
        {{ getBudgetedAmount(record) }}
      </template>
      <template v-if="column.key === 'amount'">
        <Anchor :to="costCategoryLink(record)">
          {{ record.formattedAmount }}
        </Anchor>
      </template>
    </template>
    <template #summary>
      <ATableSummary fixed>
        <ATableSummaryRow class="row-summary">
          <ATableSummaryCell />
          <ATableSummaryCell class="summary-total">Total</ATableSummaryCell>
          <ATableSummaryCell class="column-money">
            <ATypographyText>{{ total }}</ATypographyText>
          </ATableSummaryCell>
        </ATableSummaryRow>
      </ATableSummary>
    </template>
  </ATable>
</template>
