@import 'variables.css';
@import 'typography';
@import 'modal';
@import 'tables';
@import 'tabs';
@import 'breadcrumbs';
@import 'sidebar';
@import 'content';
@import 'layout';

body,
* {
  color: var(--base-text-color);
  font-family: var(--font-family);
}

img, svg {
  display: inline;
}

.openhouse {
  a {
    color: var(--primary-color);
    font-weight: 400;
    text-decoration: none;
  }
}