.openhouse {
  .ant-breadcrumb {
    font-size: 2em;
    font-weight: 500;
  }

  .ant-breadcrumb.header {
    font-size: 2em;
    font-weight: 500;
    letter-spacing: -1px;
    padding-top: 5px;
    text-transform: capitalize;
  }
}
