.openhouse {
  .content {
    background-color: white;
    color: var(--base-text-color);
    margin: 0 auto;
    max-width: 48rem;
    h1 {
      font-size: 5rem;
      font-weight: 900;
      letter-spacing: -2px;
      margin-bottom: 2rem;
      margin-top: 5rem;

      &.large {
        font-size: 9rem;
        margin-top: 7rem;
      }
    }
    h3 {
      font-size: 1.9rem;
      font-weight: 700;
      line-height: 1.3
      letter-spacing: -1px;
      margin-bottom: 1rem;
      margin-top: 1rem;
      a {
        color: var(--base-text-color);
        border-bottom: none;
        font-weight: inherit;
      }
    }
    p {
      color: var(--base-text-color);
      font-size 1.33rem;
      word-break: break-word;
      word-wrap: break-word;
      text-rendering: optimizeLegibility;
      line-height: 1.5;
      margin-bottom: 1.6rem;
    }

    hr {
      background-color: var(--border-color);
      max-width: 30rem;
      height: 2px;
      margin-top: 5rem;
      margin-bottom: 5rem;
    }

    a {
      color: var(--base-text-color);
      font-weight: 400;
      text-decoration: none;
      border-bottom: 1px solid var(--base-text-color);
      &:hover {
        border-bottom-color: var(--primary-color);
      }
    }
  }
}