.openhouse {
  .ant-layout-sider.right-side {
    padding-right: 3rem;
    .ant-collapse {
      background-color: inherit;
      border: none;
      font-size: 1.1rem;
      .ant-collapse-item {
        border-bottom: none;
      }
    }
  }
  .ant-layout-sider-trigger {
    background-color: inherit;
  }
}