.openhouse {
  .ant-table-wrapper {
    .ant-table.ant-table-middle {
      font-size: 1.2em;
    }
  }

  .ant-table {
    color: var(--base-text-color);
  }

  th.ant-table-cell {
    text-transform: uppercase;
  }

  .ant-table-thead > tr > th {
    background: transparent;
    border-bottom: 2px solid var(--base-text-color);
    color: #737373;
  }

  // apply background-color to every other .ant-table-row
  .ant-table-row {
    &:nth-child(odd) {
      background-color: #f9f9f9;
    }
  }


  .ant-table-tbody > tr > td {
    border-bottom: none;
  }

  .ant-table-column-title {
    font-weight: 600;
  }

  .ant-table.ant-table-middle .ant-table-footer,
  .ant-table.ant-table-middle .ant-table-tbody>tr>td,
  .ant-table.ant-table-middle .ant-table-thead>tr>th,
  .ant-table.ant-table-middle .ant-table-title,
  .ant-table.ant-table-middle tfoot>tr>td,
  .ant-table.ant-table-middle tfoot>tr>th {
    padding: 12px 24px 12px 6px;
  }

  th.column-money, td.column-money {
    text-align: right;
  }

  td.column-date {
    font-size: 0.85em;
    // padding-top: 17px !important;
    // vertical-align: top;
  }

  td.column-more {
    padding-top: 6px !important;
  }

  tr.row-summary {
    background: transparent;
    color: var(--base-text-color);
    font-weight: 500;
    td {
      border-top: 1px solid var(--base-text-color);
      border-bottom: none;
    }
  }

  td.column-image {
    padding: 0 !important;
    text-align: center;
    .ant-image {
      border: 1px solid #d4d4d4;
    }
  }

  td.ant-table-column-sort {
    background-color: inherit;
  }

  .ant-table-wrapper.no-sort-icons {
    th .ant-table-column-sorter {
      display: none;
    }
  }

  .ant-table-column-sorter {
    display: none;
  }

  .ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:first-child {
    border-right-color: var(--base-text-color);
  }

  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child {
    border-color: var(--base-text-color);
  }

  .ant-radio-button-wrapper, .ant-radio-button-wrapper:first-child {
    border-width: 1.5px;
  }

}
