@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500&family=Kanit:wght@500&display=swap');

.openhouse {
  h1, h2, h3, h4, h5, h6 {
    color: rgba(39,39,39,1);
  }
  .ant-typography.ant-typography-secondary {
    color: var(--secondary-color);
  }
  h1.ant-typography {
    font-weight: 900;
  }

  .ant-btn-link span {
    color: var(--primary-color);
  }
}