:root {
  --base-text-color: #333;
  --font-family: 'Hanken Grotesk', -apple-system, sans-serif;
  --primary-color: #2563eb;
  --secondary-color: #737373;
  --border-radius: 4px;
  --border-color: #e2e8f0;
}
