<script lang="ts" setup>
import { ref } from 'vue'
import { definePageMeta } from '~~/.nuxt/imports'

definePageMeta({
  layout: false
})

const view = ref('actual')
</script>
<template>
  <NuxtLayout name="airtable">
    <template #header>
      <ABreadcrumb>
        <ABreadcrumbItem>
          <ATypographyTitle>Costs</ATypographyTitle>
        </ABreadcrumbItem>
      </ABreadcrumb>
    </template>
    <TableWidthContainer>
      <div class="custom-table large">
        <div class="flex flex-row mb-4">
          <div class="basis-1/2"></div>
          <div class="basis-1/2 text-right">
            <ARadioGroup v-model:value="view">
              <ARadioButton value="actual">Actual</ARadioButton>
              <ARadioButton value="budget">Estimated</ARadioButton>
              <ARadioButton value="comparison">Compare</ARadioButton>
            </ARadioGroup>
          </div>
        </div>
        <ProjectCostsActual v-if="view === 'actual'" />
        <ProjectCostsBudgeted v-if="view === 'budget'" />
        <ProjectCostsComparison v-if="view === 'comparison'" />
      </div>
    </TableWidthContainer>
  </NuxtLayout>
</template>
