<script lang="ts" setup>
import { definePageMeta } from '~~/.nuxt/imports'

const project = await useProjectData()

definePageMeta({
  layout: false
})
</script>
<template>
  <NuxtLayout name="airtable">
    <TableWidthContainer>
      <section class="about">
        <ContentRenderer :value="project" class="max-w-3xl text-2xl" />
      </section>
    </TableWidthContainer>
  </NuxtLayout>
</template>

<style lang="stylus">
.about {}
  blockquote {
    border-left: 8px solid #000;
    padding-left: 30px;
    padding-right: 5px;
    margin-left: -22px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  img {
    max-height: 25rem;
  }
}

p img {}
</style>
