<script lang="ts" setup>
import { Ref, ref } from 'vue'
import { ModelContent } from '~~/types/models'
import ProjectHeader from '~/components/Project/Header.vue'
const screen = useScreen()
const { params } = useRoute()

const loading = ref(true)

const model = await queryContent<ModelContent>()
  .where({ _path: `/models/${params.model}` })
  .findOne()

loading.value = false

function logSomeError(e): void {
  useErrorLogger(e)
}

function handleErrorClear(e: Ref): void {
  // await navigateTo(tabUrl('costs'))
  e.value = null
}
</script>

<template>
  <ALayout :class="['openhouse', screen.current.value]">
    <ALayoutHeader class="nav-header pl-4">
      <div class="w-screen">
        <ASpace size="large">
          <Anchor to="/"><IconsLogo /></Anchor>
          <ABreadcrumb class="header">
            <ABreadcrumbItem>
              <Anchor to="/models">{{ $t('pages.models.title') }}</Anchor>
            </ABreadcrumbItem>
            <ABreadcrumbItem>
              <Anchor :to="`/models/${model.id}`">{{ model.title }}</Anchor>
            </ABreadcrumbItem>
          </ABreadcrumb>
        </ASpace>
      </div>
      <ProjectHeader />
    </ALayoutHeader>
    <ALayout>
      <ALayoutContent>
        <ASkeleton v-if="loading" active />
        <NuxtErrorBoundary @error="logSomeError">
          <section class="px-6">
            <slot />
          </section>
          <template #error="{ error }">
            {{ error.value.statusMessage }}
            <AButton type="link" @click="handleErrorClear(error)">
              Go to project home
            </AButton>
          </template>
        </NuxtErrorBoundary>
      </ALayoutContent>
      <slot name="actions" />
    </ALayout>
  </ALayout>
</template>

<style lang="stylus" scoped>
.ant-layout, .ant-layout-header {
  background-color: theme('colors.gray.100');
}

.nav-header {
  background-color: white;
  padding-left: 1rem;
  height: 100%;
}
.inner-header {
  background-color: theme('colors.gray.100');
  height: 100%;
  margin-bottom: 2em;
  padding-left: 1rem;
}

.ant-layout-sider {
  border-right: 1px solid theme('colors.gray.200');
}
</style>

<style lang="stylus">
.ant-layout-sider,
.ant-layout-sider-trigger {
  background-color: theme('colors.gray.100');

  &::after {
    border-right: none;
  }
}

.ant-layout-sider.left-side {
  .ant-layout-sider-trigger {
    left: -1px;
  }
}
</style>
