<script lang="ts" setup>
const screen = useScreen()
</script>
<template>
  <ALayout :class="['blog', 'openhouse', screen.current.value]">
    <ALayoutHeader>
      <div class="pb-6 pt-2">
        <Anchor to="/"><IconsLogo /></Anchor>
      </div>
    </ALayoutHeader>
    <ALayoutContent class="v-full">
      <slot />
    </ALayoutContent>
  </ALayout>
</template>

<style lang="stylus">
.blog {
  height: 100vh;
  width: 100vw;

  .ant-layout-content {
    // background-color: theme('colors.slate.900');
    height: 100vh;
    width: 100vw;
  }
  .ant-layout-footer {
    // background-color: theme('colors.slate.900');
    color: white;
    width: 100%;
  }

  .logo {
    font-family: 'Kanit', sans-serif;
    left: 1rem;
    top: 3rem;
  }
}
</style>
