<script lang="ts" setup>
const screen = useScreen()
</script>
<template>
  <ALayout id="landing" :class="screen.current.value">
    <ALayoutContent class="v-full">
      <slot />
    </ALayoutContent>
    <ALayoutFooter>
      <slot name="footer" />
    </ALayoutFooter>
  </ALayout>
</template>

<style lang="stylus">
#landing {
  height: 100vh;
  width: 100vw;

  .ant-layout-content {
    // background-color: theme('colors.slate.900');
    height: 100vh;
    width: 100vw;
  }
  .ant-layout-footer {
    // background-color: theme('colors.slate.900');
    color: white;
    width: 100%;
    padding: 0;
  }

  .logo {
    font-family: 'Kanit', sans-serif;
    left: 1rem;
    top: 3rem;
  }
}
</style>
