<script lang="ts" setup>
const screen = useScreen()
</script>
<template>
  <ALayout id="lists" :class="['openhouse', screen.current.value]">
    <ALayoutHeader class="nav-header pl-4">
      <div class="w-screen">
        <ASpace size="large">
          <Anchor to="/"><IconsLogo /></Anchor>
          <slot name="header" />
        </ASpace>
      </div>
    </ALayoutHeader>
    <ALayout>
      <ALayoutContent>
        <div class="p-12">
          <slot />
        </div>
      </ALayoutContent>
      <slot name="actions" />
    </ALayout>
    <ALayoutFooter>
      <slot name="footer" />
    </ALayoutFooter>
  </ALayout>
</template>

<style lang="stylus">
#lists {
  .ant-layout-header, .ant-layout-footer, .ant-layout-content, .ant-layout-sider {
    background-color: theme('colors.gray.100');
  }
  .logo {
    font-family: 'Kanit', sans-serif;
    left: 1rem;
    top: 3rem;
  }
}
</style>
