<script lang="ts" setup>
definePageMeta({
  layout: false
})
</script>

<template>
  <NuxtLayout name="blog">
    <section class="max-w-4xl mx-auto flex-1 flex flex-col mb-12">
      <h2>Community</h2>
      <p class="text-slate-500 text-2xl">
        People helping people are the <IconMdi:heart class="icon" /> of
        Openhouse.
      </p>
    </section>
    <Divider />
    <section
      class="max-w-4xl mx-auto flex-1 flex flex-col mb-12 mt-10 text-2xl"
    >
      <h3>Get Help from Other Builders</h3>
      <ul class="list-none">
        <li>What others are building</li>
        <li>Wiki</li>
        <li>Discord</li>
      </ul>
    </section>
    <Divider />
    <section
      class="max-w-4xl mx-auto flex-1 flex flex-col mb-12 mt-10 text-2xl"
    >
      <h3>Help Other Builders</h3>
      <ul class="list-none">
        <li>Earn money</li>
        <li>Available Projects</li>
        <li>FAQ</li>
      </ul>
    </section>
    <Divider />
    <section
      class="max-w-4xl mx-auto flex-1 flex flex-col mb-12 mt-10 text-2xl"
    >
      <h3>Openhouse Governance</h3>
      <ul class="list-none">
        <li>How to Participate</li>
        <li>Governance Forum</li>
      </ul>
    </section>
    <template #footer>
      <LayoutFooter color="light" />
    </template>
  </NuxtLayout>
</template>

<style lang="stylus" scoped>
h2 {
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: -2px;
    margin-bottom: 0.5rem;
    margin-top: 6rem;
}

h3 {
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: -1px;
}

.icon {
  :deep(path) {
    fill: theme('colors.red.500');
  }
}

ul {
  font-size: 1.4rem;
  margin-top: 2rem;
}
li {
  margin-bottom: 1rem;
  text-decoration: underline;
}
</style>
