<script lang="ts" setup>
// meta
definePageMeta({
  layout: 'blog'
})
</script>

<template>
  <article class="content flex-1 flex flex-col">
    <ContentDoc v-slot="{ doc }" path="/about/homeowner">
      <h1>{{ doc.title }}</h1>
      <ContentRenderer :value="doc" />
    </ContentDoc>
  </article>
</template>
