<script lang="ts" setup>
definePageMeta({
  layout: 'blog'
})
</script>

<template>
  <article class="content flex-1 flex flex-col min-h-screen">
    <ContentDoc v-slot="{ doc }" path="/about/openhouse">
      <h1 class="large">{{ doc.title }}</h1>
      <ContentRenderer :value="doc" />
    </ContentDoc>
  </article>
</template>
