<script lang="ts" setup>
import { capitalize } from '~/utils/str'

// composable
const { t } = useLang()

// compiler macro
definePageMeta({
  layout: 'page'
})
useHead(() => ({
  title: capitalize(t('pages.404.title'))
}))
</script>

<template>
  <LayoutWrapper class="flex flex-col items-center justify-center">
    <Error :code="404" />
  </LayoutWrapper>
</template>
