<script lang="ts" setup>
definePageMeta({
  layout: false
})

const activeFaq = ref('')
</script>

<template>
  <NuxtLayout name="landing">
    <section
      id="hero"
      class="max-w-4xl mx-auto flex-1 flex flex-col pt-28 items-center"
    >
      <IconsLogoSvg class="w-32 h-32 mb-8" />
      <ContentDoc v-slot="{ doc }" path="/about/landing">
        <h2 class="text-5xl text-black font-semibold tracking-tight">
          {{ doc.title }}
        </h2>
      </ContentDoc>
    </section>
    <section
      id="actions"
      class="max-w-4xl mx-auto flex-1 flex flex-col items-center mb-8"
    >
      <div>
        <NuxtLink
          class="text-slate-700 hover:text-slate-900 text-2xl border border-slate-500 py-2 px-4 font-medium"
          to="/models"
          >View Models</NuxtLink
        >
        <NuxtLink class="text-slate-500 text-2xl font-semibold" to="/about">
          or learn more
        </NuxtLink>
      </div>
    </section>
    <section id="faq" class="bg-slate-900">
      <div class="max-w-3xl mx-auto pt-42 text-3xl">
        <h3 class="text-white">Frequently Asked Questions</h3>
        <ACollapse
          v-model:activeKey="activeFaq"
          class="home faq"
          expand-icon-position="right"
        >
          <template #expandIcon="{ isActive }">
            <IconMdi:minus v-if="isActive" />
            <IconMdi:plus v-else />
          </template>
          <ACollapsePanel
            key="1"
            header="Wait, I know nothing about homebuilding. How can I build an ADU?"
          >
            <p>
              You won't be actually building the ADU. You will be managing
              sub-contractors.
            </p>
            <p>Step by step instructions will be provided.</p>
            <p>
              Our software and community of home builders who are also working
              on the same ADU makes that process easier.
            </p>
            <p>We believe that with each build of the same ADU ..</p>
          </ACollapsePanel>
          <ACollapsePanel key="2" header="How much money can I save?">
            <p>
              Generally, custom homebuilds charge 20% of the total cost of the
              build.
            </p>

            <p>
              So on a $400,000 build, you would be saving $80,000 on builder
              fees by being your own general contractor.
            </p>
          </ACollapsePanel>
          <ACollapsePanel
            key="3"
            header="How are homebuilding experts incentivised to help me?"
          >
            <p>
              85% of the proceeds of a project plans sales each month go to
              people who help out on projects.
            </p>

            <p>
              The community votes on where this money goes each month. It can go
              to experts who answered a lot of questions in chat or in phone
              calls. It could go to an architect who makes a requested change on
              the plans. It could also go to other builders that are further
              through the build and provide good suggestions and tips to
              builders in an earlier phase.
            </p>

            <p>
              Whomever provides the plans, in most cases an architect, defines
              the initial framework of how payouts are made.
            </p>
          </ACollapsePanel>
        </ACollapse>
      </div>
    </section>
    <LayoutFooter color="light" />
  </NuxtLayout>
</template>

<style lang="stylus" scoped>
h2 {
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: -2px;
    margin-bottom: 0.5rem;
    margin-top: 6rem;
}

h3 {
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: -1px;
}

#hero {
  min-height: calc(100vh - 14rem);
}

#faq {
    position: relative;
    padding-bottom: 6rem;
}
</style>

<style lang="stylus">
.ant-collapse.faq {
  background-color: theme('colors.slate.900');
  border: none;
  color: white;
  font-size: 1.3rem;

  > .ant-collapse-item {
    border-bottom-color: theme('colors.slate.700');

    > .ant-collapse-header {
      color: white;
      padding: 22px 0;

      .ant-collapse-arrow path {
        fill: white;
      }
    }
  }
}
</style>
