<script lang="ts" setup>
definePageMeta({
  layout: 'dashboard'
})
</script>

<template>
  <LayoutWrapper>
    <LayoutHeader>
      <TypographyTitle
        :text="$t('pages.dashboard.index.title')"
        class="capitalize"
      />
    </LayoutHeader>
    <LayoutBody>
      <PageSection>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia autem
          debitis ab dolorum tempore placeat possimus perferendis porro sit aut
          nobis quasi hic consequuntur, atque impedit nihil totam illo odit?
        </p>
      </PageSection>
      <PageSection>
        <div v-for="i in 30" :key="i" class="text-6xl uppercase">
          {{ $t('pages.blank.just_blank_page_with_title') }}
        </div>
      </PageSection>
    </LayoutBody>
  </LayoutWrapper>
</template>
