<script lang="ts" setup>
import { capitalize } from '~/utils/str'
import { ModelContent } from '~/types/models'
import { ProjectContent } from '~~/types/projects'

const { params } = useRoute()
// composable
const { t } = useLang()

definePageMeta({
  layout: false
})
useHead(() => ({
  title: capitalize(t('pages.projects.title')),
  meta: [
    {
      name: 'description',
      content: t('pages.projects.description')
    }
  ]
}))

const model = await queryContent<ModelContent>()
  .where({ _path: `/models/${params.id}` })
  .findOne()

const projects = await queryContent<ProjectContent>()
  .where({ model: params.id })
  .find()

const activeTab = ref<string>('projects')
const showFilter = ref<boolean>(false)

const rightCollapsed = ref<Boolean>(false)
const completionPct = ref<number>(1)
const completionPctMarks = ref<Record<number, any>>({
  0: 'Just Started',
  50: 'Halfway',
  100: 'Completed'
})
</script>

<template>
  <NuxtLayout name="lists">
    <template #header>
      <ABreadcrumb class="header">
        <ABreadcrumbItem>
          <Anchor to="/models">{{ $t('pages.models.title') }}</Anchor>
        </ABreadcrumbItem>
      </ABreadcrumb>
    </template>
    <section>
      <ATypographyTitle :level="1">{{ model.title }}</ATypographyTitle>
      <ContentRenderer :value="model" class="max-w-3xl text-2xl" />
    </section>
    <section>
      <ATabs v-model:activeKey="activeTab">
        <ATabPane key="projects" tab="Current Builds">
          <div class="pt-8">
            <ARow>
              <ACol :span="24" class="text-right">
                <AButton @click="showFilter = true"> Filter </AButton>
              </ACol>
            </ARow>
            <ARow :gutter="16">
              <ACol
                v-for="article in projects"
                :key="article._path"
                :sm="24"
                :xl="6"
              >
                <ACard
                  class="cursor-pointer model"
                  @click="navigateTo(article._path)"
                >
                  <template #cover>
                    <figure class="inline-block align-middle relative">
                      <img :alt="article.title" :src="article.image" />
                      <div
                        class="absolute bottom-0 w-full px-4 py-2 bg-black opacity-75 text-white text-xl font-bold"
                      >
                        {{ article.location }}
                      </div>
                    </figure>
                  </template>
                  <a-card-meta>
                    <template #description>
                      <div class="text-xl">Nearly complete</div>
                    </template>
                  </a-card-meta>
                </ACard>
              </ACol>
            </ARow>
          </div>
        </ATabPane>
        <ATabPane key="costs" tab="Terms">
          <AAlert
            message="Alpha Preview Notes"
            description="Each home model will essentially be it's own DAO. The provider of the model (typically an architect) will set the terms. Terms include what does it cost to participate in this community (ie build this house), how much of that payout is paid to community members who assist other community members, what are the terms of voting, can your participation be resold to others."
            type="info"
            show-icon
          />
        </ATabPane>
        <ATabPane key="about" tab="Plans">
          <AAlert
            message="Alpha Preview Notes"
            description="Each home model has a set of assets: architectural and engineering drawings, materials needed, and site plans."
            type="info"
            show-icon
          />
        </ATabPane>
      </ATabs>
    </section>
    <AModal v-model:visible="showFilter" :footer="null" class="openhouse">
      <template #title>
        <TypographyTitle size="md" inline> Filter Builds </TypographyTitle>
      </template>
      <ASpace direction="vertical" size="large" class="w-full">
        <div class="w-full">
          <ATypographyTitle :level="5">Build Stage</ATypographyTitle>
          <div class="px-8">
            <ASlider
              v-model:value="completionPct"
              :marks="completionPctMarks"
              :step="10"
              :min="0"
              :max="100"
            />
          </div>
        </div>
      </ASpace>
    </AModal>
    <template #actions>
      <ALayoutSider
        v-model:collapsed="rightCollapsed"
        class="h-screen right-side"
        collapsible
        width="300"
      >
        <ASpace direction="vertical" size="large" class="w-full">
          <ATypographyTitle :level="4">Overview</ATypographyTitle>
          <div class="w-full">
            <ATypographyText type="secondary" class="text-lg"
              >Square Footage</ATypographyText
            >
            <ATypographyTitle :level="1" class="mt-0">
              {{ model.footage }}
            </ATypographyTitle>
          </div>

          <div class="w-full">
            <ATypographyText type="secondary" class="text-lg"
              >Baths</ATypographyText
            >
            <ATypographyTitle :level="1" class="mt-0">
              {{ model.baths }}
            </ATypographyTitle>
          </div>

          <div class="w-full">
            <ATypographyText type="secondary" class="text-lg"
              >Level of Difficulty</ATypographyText
            >
            <ATypographyTitle :level="1" class="mt-0">
              {{ model.difficulty }}
            </ATypographyTitle>
          </div>
        </ASpace>
      </ALayoutSider>
    </template>
  </NuxtLayout>
</template>

<style lang="stylus" scoped>
.model {
  :deep(.ant-card-body) {
    padding: 10px;
  }
}

.mt-0 {
  margin-top: 0 !important;
}
</style>
