<script lang="ts" setup>
import { capitalize } from '~/utils/str'

// composable
const { t } = useLang()

definePageMeta({
  layout: false
})
useHead(() => ({
  title: capitalize(t('pages.models.title')),
  meta: [
    {
      name: 'description',
      content: t('pages.models.description')
    }
  ]
}))

const rightCollapsed = ref<Boolean>(false)
const footage = ref<number>(1300)
const footageMarks = ref<Record<number, any>>({
  250: '250sf',
  2500: '2500sf'
})

const bathrooms = ref<number>(1)
const bathroomMarks = ref<Record<number, any>>({
  1: '1 bath',
  2: '2 bath'
})

const complexity = ref<number>(1)
const complexityMarks = ref<Record<number, any>>({
  1: 'Easy',
  2: 'Average',
  3: 'Harder'
})

const hasManyBuilds = ref<Boolean>(false)
</script>

<template>
  <NuxtLayout name="lists">
    <template #header>
      <ABreadcrumb class="header">
        <ABreadcrumbItem>
          {{ $t('pages.models.breadcrumb') }}
        </ABreadcrumbItem>
      </ABreadcrumb>
    </template>
    <section class="mb-12 m-auto max-w-2xl">
      <AAlert
        message="Alpha Preview Notes"
        description="This page will list the home models that are available to build. The models would be provided by architects and designers. The model providers sets the rules to participate (eg: price, payouts, voting, etc). Right now, it only includes the one house."
        type="info"
        show-icon
      />
    </section>
    <ContentList v-slot="{ list }" path="/models">
      <ARow :gutter="16">
        <ACol v-for="article in list" :key="article._path" :sm="24" :xl="6">
          <ACard
            class="cursor-pointer model"
            @click="navigateTo(article._path)"
          >
            <template #cover>
              <figure class="inline-block align-middle relative">
                <img :alt="article.title" :src="article.image" />
                <div
                  class="absolute bottom-0 w-full px-4 py-2 bg-black opacity-75 text-white text-xl font-bold"
                >
                  {{ article.title }}
                </div>
              </figure>
            </template>
            <template #actions>
              <ARow>
                <ACol :span="8">
                  <AStatistic
                    title="Sq Ft"
                    :value="1250"
                    style="margin-right: 50px"
                  />
                </ACol>
                <ACol :span="8">
                  <AStatistic title="Baths" :value="2" />
                </ACol>
                <ACol :span="8">
                  <AStatistic title="Difficulty" value="Avg" />
                </ACol>
              </ARow>
            </template>
          </ACard>
        </ACol>
      </ARow>
    </ContentList>
    <template #actions>
      <ALayoutSider
        v-model:collapsed="rightCollapsed"
        class="h-screen right-side"
        collapsible
        width="300"
      >
        <ASpace direction="vertical" size="large" class="w-full">
          <ATypographyTitle :level="4">Filters</ATypographyTitle>
          <div class="w-full">
            <ATypographyTitle :level="5">Square Footage</ATypographyTitle>
            <ASlider
              v-model:value="footage"
              :marks="footageMarks"
              :step="50"
              :min="250"
              :max="2500"
            />
          </div>
          <div class="w-full">
            <ATypographyTitle :level="5">Bathrooms</ATypographyTitle>
            <ASlider
              v-model:value="bathrooms"
              :marks="bathroomMarks"
              :step="0.5"
              :min="1"
              :max="2"
            />
          </div>
          <div class="w-full">
            <ATypographyTitle :level="5">Build Complexity</ATypographyTitle>
            <ASlider
              v-model:value="complexity"
              :marks="complexityMarks"
              :min="1"
              :max="3"
            />
          </div>
          <div class="w-full">
            <ATypographyTitle :level="5"
              >Number of Times Built</ATypographyTitle
            >
            <ASwitch v-model:checked="hasManyBuilds" />
            <span class="ml-2">5+ Builds</span>
          </div>
        </ASpace>
      </ALayoutSider>
    </template>
  </NuxtLayout>
</template>

<style lang="stylus" scoped>
.model {
  :deep(.ant-card-body) {
    padding: 10px;
  }
}
</style>
