<script lang="ts" setup>
import { navigateTo } from '#app'

interface PageProps {
  isActive?: boolean
  text: string
  to: string
}
const props = withDefaults(defineProps<PageProps>(), {
  isActive: false
})

function handleTabClick() {
  navigateTo(props.to)
}
</script>

<template>
  <div
    :class="[
      { active: isActive },
      'font-medium mr-8 pb-2 text-slate-400 hover:text-slate-700 border-slate-400 hover:border-slate-700 cursor-pointer'
    ]"
    @click="handleTabClick"
  >
    {{ text }}
  </div>
</template>

<style lang="stylus" scoped>
.active {
  border-bottom: 2px solid theme('colors.slate.600');
  color: theme('colors.slate.800');
}
</style>
