<script setup lang="ts">
type SizeTypes = 'sm' | 'md' | 'lg'
interface PageProps {
  size?: SizeTypes
}

withDefaults(defineProps<PageProps>(), {
  size: 'md'
})
</script>

<template>
  <div :class="[size, 'mb-8']">
    <div class="flex flex-row w-full relative border-b-1 border-slate-300">
      <div class="basis-3/4 flex flex-row">
        <slot />
      </div>

      <div class="basis-1/4 text-right">
        <ADropdown placement="bottomRight">
          <AButton type="link" size="large">
            <template #icon>
              <IconMdi:dots-vertical
                :style="{ fontSize: '1.2em', color: 'red' }"
              />
            </template>
          </AButton>
          <template #overlay>
            <slot name="dropdown" />
          </template>
        </ADropdown>
      </div>
    </div>
  </div>
</template>

<style lang="stylus" scoped>
.lg {
  font-size: 1.6rem;
}

.md {
  font-size: 1.33rem;
}
</style>
