<script setup lang="ts">
import { IGanttRow } from '@/types/gantt'
import { IBids } from '@/types/airtable'
import { useAirtable } from '~/stores/airtable'

import { formatDate } from '@/utils/date'
import { splitNameIntoDetails, type INameComponents } from '@/utils/project'

export interface PresentationProps {
  modalIsOpen?: boolean
  row: IGanttRow
}
const props = withDefaults(defineProps<PresentationProps>(), {
  modalIsOpen: false
})
const isOpen = ref(props.modalIsOpen)

const emit = defineEmits(['close-modal'])

function handleCloseModal() {
  isOpen.value = false
  emit('close-modal')
}

const { name, category } = splitNameIntoDetails(
  props.row?.lineName
) as INameComponents
const airtable = useAirtable()

const bids: IBids = airtable.getBidsByCategory(props.row.Category)
</script>
<template>
  <ModalsBids
    :modal-is-open="isOpen"
    :category-name="name"
    :category="category"
    :bids="bids"
    @close-modal="handleCloseModal"
  >
    <template #subheading>
      <section class="max-w-md mb-6">
        <ARow>
          <ACol :span="12">
            <AStatistic title="Start" :value="formatDate(row?.start)" />
          </ACol>
          <ACol :span="12">
            <AStatistic title="End" :value="formatDate(row?.end)" />
          </ACol>
        </ARow>
      </section>
    </template>
  </ModalsBids>
</template>
