<script setup lang="ts">
import { onMounted, ref } from 'vue'
import { IGanttRow } from '@/types/gantt'

interface GanttProps {
  rows: IGanttRow[] | []
}

const gantt = ref(null)
const modalIsOpen = ref(false)
const modalTarget = ref<IGanttRow | null>(null)

const emit = defineEmits([
  'row-updated',
  'row-date-updated',
  'row-progress-updated'
])

const props = withDefaults(defineProps<GanttProps>(), {
  rows: () => []
})

const { $Gantt } = useNuxtApp()
const Gantt = $Gantt()

function createGanttChart() {
  // @ts-ignore TS-6133 _chart is declared but never used
  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  const _chart = new Gantt(gantt.value, props.rows, {
    view_mode: 'Month',
    on_click: (row: IGanttRow) => {
      modalTarget.value = row
      modalIsOpen.value = true
      emit('row-updated', row)
    },
    on_date_change: (task, start, end) => {
      emit('row-date-updated', { task, start, end })
    },
    on_progress_change: (task, progress) => {
      emit('row-progress-updated', { task, progress })
    }
  })
}

onMounted(() => {
  // need a slight delay here to make the chart render when tabbed back
  setTimeout(() => {
    createGanttChart()
  }, 200)
})

function handleCloseModal() {
  modalIsOpen.value = false
}
</script>

<template>
  <div class="lg:w-250">
    <svg ref="gantt" />
    <div v-if="modalIsOpen">
      <ProjectGanttChartBid
        v-if="modalTarget?.custom_class === 'bid'"
        :modal-is-open="modalIsOpen"
        :row="modalTarget"
        @close-modal="handleCloseModal"
      />
      <ProjectGanttChartResearch
        v-if="modalTarget?.custom_class === 'research'"
        :modal-is-open="modalIsOpen"
        :row="modalTarget"
        @close-modal="handleCloseModal"
      />
      <ProjectGanttChartWork
        v-if="modalTarget?.custom_class === 'work'"
        :modal-is-open="modalIsOpen"
        :row="modalTarget"
        @close-modal="handleCloseModal"
      />
    </div>
  </div>
</template>

<style lang="stylus">
.gantt {
  .bar-label {
    font-size: 14px;
    font-weight: bold;
    fill: #333;
  }

  .bar-wrapper {
    &.research {
      .bar {
        fill: theme('colors.yellow.100');
      }
      .bar-label {
        display: none;
        fill: theme('colors.gray.700');
      }
      &:hover {
        .bar {
          fill: theme('colors.yellow.200');
        }
      }
    }
    &.bid {
      .bar {
        fill: theme('colors.yellow.200');
      }
      .bar-label {
        display: none;
        fill: theme('colors.gray.700');
      }
      &:hover {
        .bar {
          fill: theme('colors.yellow.300');
        }
      }
    }
    &.delivery {
      .bar {
        fill: theme('colors.yellow.800');
      }
      .bar-label {
        display: none;
        fill: theme('colors.gray.700');
      }
      &:hover {
        .bar {
          fill: theme('colors.yellow.900');
        }
      }
    }
    &:hover {
      .bar-label {
        display: block;
      }
    }
    .handle-group {
      display: none;
    }
  }

}

.gantt-container {
  .popup-wrapper {
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    .subtitle {
      color: #333;
    }
  }
}
</style>
