<script setup lang="ts">
import { IGanttRow } from '@/types/gantt'
import { formatDate } from '@/utils/date'
import { splitNameIntoDetails, type INameComponents } from '@/utils/project'

export interface PresentationProps {
  modalIsOpen?: boolean
  row: IGanttRow
}
const props = withDefaults(defineProps<PresentationProps>(), {
  modalIsOpen: false
})
const isOpen = ref(props.modalIsOpen)

const emit = defineEmits(['close-modal'])

function handleCloseModal() {
  emit('close-modal')
}

const path = ref(`/instructions/${props.row?.token}`)
const { name, category } = splitNameIntoDetails(
  props.row?.lineName
) as INameComponents
</script>

<template>
  <AModal
    v-model:visible="isOpen"
    width="90vw"
    :footer="null"
    class="openhouse max-width"
    :after-close="handleCloseModal"
  >
    <template #title>
      Research for
      <TypographyTitle size="sm" inline>
        {{ name || 'This Task' }}
      </TypographyTitle>
      <TypographySubtitle size="sm">
        {{ category }}
      </TypographySubtitle>
    </template>
    <section class="max-w-md mb-6">
      <ARow>
        <ACol :span="12">
          <AStatistic title="Start" :value="formatDate(row?.start)" />
        </ACol>
        <ACol :span="12">
          <AStatistic title="End" :value="formatDate(row?.end)" />
        </ACol>
      </ARow>
    </section>
    <ContentDoc :path="path">
      <template #not-found> No instructions found for this task. </template>
    </ContentDoc>
  </AModal>
</template>
