<script setup lang="ts">
import { IGanttRow } from '@/types/gantt'
import { formatDate } from '@/utils/date'
import { splitNameIntoDetails, type INameComponents } from '@/utils/project'
import { useAirtable } from '~/stores/airtable'
import { ICosts, IPhotos } from '~~/types/airtable'

export interface PresentationProps {
  modalIsOpen?: boolean
  row: IGanttRow
}
const props = withDefaults(defineProps<PresentationProps>(), {
  modalIsOpen: false
})
const isOpen = ref<boolean>(props.modalIsOpen)
const galleryIsOpen = ref<boolean>(false)

const emit = defineEmits(['close-modal'])

function handleCloseModal() {
  emit('close-modal')
}

const { name, category } = splitNameIntoDetails(
  props.row?.lineName
) as INameComponents

const airtable = useAirtable()
const costs: ICosts = airtable.getCostsByCategory(props.row.Category[0])

const notes = computed<String>(() => {
  const notes = costs?.map((cost) => cost.Notes)
  return notes.filter((note) => note !== null)
})

const photos = computed<IPhotos>(() => {
  const photos = []
  costs?.forEach((cost) => {
    if (cost.Photos) {
      cost.Photos.forEach((photo) => {
        photos.push(photo)
      })
    }
  })
  return photos
})
</script>
<template>
  <AModal
    v-model:visible="isOpen"
    width="90vw"
    :footer="null"
    class="openhouse max-width"
    :after-close="handleCloseModal"
  >
    <template #title>
      <TypographyTitle size="sm" inline>
        {{ name || 'This Task' }}
      </TypographyTitle>
      <TypographySubtitle size="sm">
        {{ category }}
      </TypographySubtitle>
    </template>
    <section class="max-w-md mb-6">
      <ARow>
        <ACol :span="12">
          <AStatistic title="Start" :value="formatDate(row?.start)" />
        </ACol>
        <ACol :span="12">
          <AStatistic title="End" :value="formatDate(row?.end)" />
        </ACol>
      </ARow>
    </section>
    <div>
      <ASpace direction="vertical" size="large">
        <div id="notes">
          <TypographyTitle type="secondary" size="sm" inline>
            Notes
          </TypographyTitle>
          <TypographySubtitle v-if="!notes.length" size="sm">
            No notes found
          </TypographySubtitle>
          <ATypographyParagraph v-for="note in notes" :key="note">
            {{ note }}
          </ATypographyParagraph>
        </div>
        <div id="photos">
          <TypographyTitle type="secondary" size="sm" inline>
            Photos
          </TypographyTitle>
          <TypographySubtitle v-if="!photos.length" size="sm">
            No photos found
          </TypographySubtitle>
          <div v-if="photos.length">
            <ul class="flex flex-wrap space-x-1 space-y-1">
              <li v-for="photo in photos" :key="photo.id">
                <AImage
                  :src="photo.thumbnails?.small.url"
                  :preview="{ visible: false }"
                  @click="galleryIsOpen = true"
                />
              </li>
            </ul>
            <div v-if="galleryIsOpen && photos.length" style="display: none">
              <AImagePreviewGroup
                :preview="{
                  visible: galleryIsOpen,
                  onVisibleChange: (vis) => (galleryIsOpen = vis)
                }"
              >
                <AImage
                  v-for="photo in photos"
                  :key="photo.id"
                  :src="photo.url"
                >
                  <template #placeholder>
                    <AImage
                      src="https://picsum.photos/200"
                      :width="200"
                      :preview="false"
                    />
                  </template>
                </AImage>
              </AImagePreviewGroup>
            </div>
          </div>
        </div>
      </ASpace>
    </div>
  </AModal>
</template>
